/* GENERAL */

$colorFondo1: #13b4bd;
$colorFondo2: #e8e9e7;
$fuenteTitulos: 'Dancing Script', cursive;
$fuenteBotones: 'Raleway', sans-serif;
$white: #ffffff;
$whitesmoke: #f5f5f5;
$pixeles: 100px; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

#Galeria, #tienda, footer {
    background-color: $colorFondo1;
}

#SobreMi, #Contacto {
    background-color: $colorFondo2;
}

h1, h2 {
    font-family: $fuenteTitulos;
    font-size: $pixeles/2; /*50px*/
    text-align: center;
}

#SobreMi, #galeria, #Contacto, footer {
    padding-top: 4rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/**************************************/

/* BOTÓN WHATSAPP */

.container-boton {
    position: fixed;
    z-index: 999;
    bottom: $pixeles-75; /*25px*/
    right: $pixeles-75;
}

.container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.boton {
    width: $pixeles/2+5; /*55px*/
    transition: ease 1s;
    /*padding-top: 884px;*/
}

/**************************************/

/* PORTADA */
.portada {
    padding-bottom: $pixeles-70; /*30px*/
    width: 100%;
    height: 736px;
    background-image: linear-gradient(180deg, rgba(4,79,122,1) 0%, rgba(19,180,189,0.7833508403361344) 49%, rgba(232,233,231,0.6208858543417367) 100%), url(../images/portada0.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 8%;
    position: relative;
    background-attachment: fixed;
}

/**************************************/

/* MENÚ */

ul {
    list-style-type: none;
}

li {
    font-family: $fuenteBotones;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    position: relative;
}

/*ul li ul {
    display: none;
    position: absolute;
}

ul li ul li {
    display: block;
}*/

/*ul li:hover ul {
    display: block;
    background-color: cadetblue;
}*/

li a {
    color: $white;
    text-decoration: none;
    margin-right: $pixeles-40; /*60px*/
}

li a:hover {
    color: black;
}

/*.logo img{
    width: 8%;
    padding-top: 12px;
    float: left;
    margin-left: 28px;
}*/

.animate__slideInLeft {
    animation-duration: 1s;
}

/*nav {
    float: right;
    margin-top: 80px;
}

.submenu ul li {
    display: block;
}*/

/**************************************/

/* TIENDA */

.tienda {
    background-color: $colorFondo2;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.card:hover {
    transition: transform .2s;
    transform: translateY(-10px);
}

.btn {
    background: #06507b;
    color: $white; 
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    border-radius: 2rem;
    box-shadow: 0.313rem 0.625rem 1.25rem 0 rgba(0,0,0,0.36);
}

.btn:hover {
    background-color: #ccdc4d;
    color: black;
}

.card-title, .card-text {
    text-align: center;
}


/**************************************/

/* SOBRE MÍ */

.seccion-sobremi {
    display: flex;
    flex-direction: row;
    padding-bottom: 6rem;
    flex: 50%;
}

.animate__zoomIn {
    animation-duration: 2s;
}

.parrafo-sobremi {
    padding-top: 2.8rem;
    margin-right: 3rem;
    margin-left: 2rem;
}

/*.parrafo-sobremi p {
    padding-bottom: 1rem;
}*/

.section__foto > img {
    width: 65%;
    height: auto;
    margin-left: 10rem;
    padding-top: 3rem;
}

/**************************************/

/* GALERÍA */

#Galeria h2 {
    padding-top: 4rem;
}

.section__galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    cursor: pointer;
}

.seccion-galeria-tienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    cursor: pointer;
}

.section__galeria img {
    width: 95%;
    height: auto;
    border-radius: 2rem;
    filter: url("data:image/svg xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10 */
    filter: gray; /*IE6-9*/
    -webkit-filter: grayscale(100%); /*Chrome 19+ & Safari 6+*/
    -webkit-transition: all .5s ease; /*Fade to color for Chrome and Safari*/
    -moz-transition: all .5s ease;
    -webkit-backface-visibility: hidden; /*Fix for transition flickering*/

}

.section__galeria img:hover {
    transition: transform .2s;
    transform: translateY(-10px);
    filter: none;
    -webkit-filter: grayscale(0%);
}

.animate__zoomIn {
    animation-duration: 2s;
    animation-delay: 2s;
}

.button-vermas {
    display: flex;
    flex: 100%;
    justify-content: center;
    /*padding-top: 2.5rem;*/
    font-family: $fuenteBotones;
    /*margin-bottom: 1.88rem;*/
    padding-bottom: 4rem;
}

.button-vermas a {
    background-color: #F2F2F2;
    color: black;
    border: none;
    border-radius: 1.25rem;
    padding: 0.625rem 2.5rem;
    text-decoration: none;
    box-shadow: 0.313rem 0.625rem 1.25rem 0 rgba(0,0,0,0.36);
}

.button-vermas :hover {
    background: #06507b;
    color: #ccdc4d; 
}

.button-vermas :visited {
    color: $colorFondo1;
}

/**************************************/

/* CAROUSEL */

.carousel-control-prev {
    left: 0;
    @if $enable-gradients {
        background-image: linear-gradient(90deg, rgba ($black, .25) rgba ($black, .001));
    }
}

.carousel-control-next {
    right: 0;
    @if $enable-gradients {
        background-image: linear-gradient(90deg, rgba ($black, .25) rgba ($black, .001));
    }
}

/**************************************/

/* CONTACTO */

#Contacto {
    padding-bottom: 6rem;
}

#Contacto h2 {
    padding-bottom: 2rem;
}

.contenedor-contacto, .form__contenedor-campos, .form__contenedor-mensaje {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form {
    background-color: #06507b;
    border-radius: 2rem;
    padding: 2rem 2rem;
    color: $white;
}

input [type=text] {
    border-style: none;
}

label {
    padding-bottom: 1rem;
}

.form__newsletter {
    text-align: center;
    margin-top: 2rem;
}

#nombre,#email,#asunto,#sexo, textarea {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem; 
    background-color: $whitesmoke;
    border-radius: 0.625rem;
    outline: none;
    border-style: none;
    transition: .2s ease-in;
    margin-top: .5rem;
    font-family: $fuenteBotones;
}

.contenedor-mensaje p {
    text-align: center;
}

.button-formulario {
    text-align: center;
    margin-top: 2rem;
}

input {
    padding: 1rem 0.5rem;
    margin-right: 1rem;
    background-color: #f2f2f2;
    border: none;
    border-radius: 1.25rem;
    color: black;
}

/**************************************/

/* FOOTER */

footer {
    height: 400px;
}

.footer h2 {
    text-align: center;
}

.animate__fadeInDown {
    animation-duration: 2s;
    animation-delay: 2s;
}

footer .redes {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    /*margin-right: 40%;
    margin-left: 40%;*/
    margin-bottom: 5%;
}

.fab {
    font-size: 3rem;
}

footer p {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0;
}

.redes li a:hover {
    color: #ccdc4d;
}

/**************************************/

/* MEDIA QUERY */

@media only screen and (max-width:768px){
    
    /*.container {
        width: 720px;
        padding: 0;
        margin: 0 auto;
    }*/

    .container-boton {
        bottom: 40px;
        right: 40px;
    }

    .boton {
        width: 60px;
    }

    .portada {
        height: 1117px;
    }

    .section__sobremi {
        flex-direction: column;
        padding-bottom: 6rem;
        flex: 100%;
    }
    
    .parrafo-sobremi {
        padding-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .parrafo-sobremi p {
        padding-bottom: 1rem;
    }
    
    .fotosobremi > img {
        width: 40%;
        height: auto;
        margin-left: 14rem;
        padding-top: 3rem;
    }

    .seccion-galeria {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 6rem;
        margin-right: 1rem;
    }

    .section__galeria img {
        width: 85%;
    }

    footer .redes {
        margin-right: 40%;
        margin-left: 25%;
        margin-bottom: 5%;
    }

    footer {
        height: 300px;
    }

}

@media only screen and (max-width:1024px){
    /*.container {
        width: 1024px;
        padding: 0;
        margin: 0 auto;
    }*/

    .portada {
    height: 840px;
    }

    .fotosobremi > img {
        width: 40%;
        height: auto;
        margin-left: 12rem;
        padding-top: 3rem;
    }
}

@media only screen and (max-width:1200px) {

    /*.container {
        width: 1200px;
        padding: 0;
        margin: 0 auto;
    }*/

    .seccion-sobremi {
        /*flex-direction: row;*/
        padding-bottom: 6rem;
        flex: 50%;
    }
    
    .parrafo-sobremi {
        padding-top: 3rem;
        margin-right: 6rem;
    }
    
    .parrafo-sobremi p {
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .fotosobremi > img {
        width: 60%;
        height: auto;
        padding-top: 3rem;
        margin-left: 12rem;
    }

    footer .redes {
        margin-top: 5%;
        justify-items: center;
        /*margin-right: 40%;
        margin-left: 35%;*/
        margin-bottom: 5%;
    }
    
    footer {
        height: 320px;
    }
}